{% extends 'layout.html.twig' %}
{% set adminMenu = true %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h2 class="text-center">{{ block('title') }}</h2>
{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}

<div class="well">
{% form_theme articleForm 'form_template_horizontal.html.twig' %}
{{ form(articleForm) }}
</div>
{% endblock %}


{% block script %}
<script type="text/javascript">
    var $collectionHolder;
    // setup an "add a tag" link
    var $addImageLink;

    jQuery(document).ready(function() {
        // Get the ul that holds the collection of tags
        $collectionHolder = $('#article_images');

        // add a delete link to all of the existing tag form li elements
        $collectionHolder.find('li').each(function() {
            initImageFormDeleteLink($(this));
        });

        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $collectionHolder.data('index', $collectionHolder.find(':input').length);

        $addImageLink = $collectionHolder.find('a.add_image_link');

        $addImageLink.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();
            // add a new tag form (see next code block)
            addImageForm($collectionHolder, $addImageLink);
        });

        function addImageForm($collectionHolder, $addImageLink) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var $newForm = $(prototype.replace(/__name__/g, index));

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);
            // Display the form in the page in an li, before the "Add a tag" link li

            $addImageLink.parent().before($newForm);

            initImageFormDeleteLink($newForm);
        }


        function initImageFormDeleteLink($imageFormLi) {

            var $removeFormA = $imageFormLi.find('a.remove_image_link');

            $removeFormA.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();
                // remove the li for the tag form
                $imageFormLi.remove();
            });
        }
    });
 </script>
{% endblock %}