<!-- datas in var -->
<!-- path_edit -->
<!-- path_delete -->
<!-- data_id -->

{% if app.user and is_granted('ROLE_ADMIN') %}
    <a href="{{ path(var['path_edit'], { 'id': var['data_id'] }) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
    <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#articleDialog{{ var['data_id'] }}"><span class="glyphicon glyphicon-remove"></span>
    </button>
    <div class="modal fade" id="articleDialog{{ var['data_id'] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Confirmation needed</h4>
                </div>
                <div class="modal-body">
                    Do you really want to delete this article ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a href="{{ path(var['path_delete'], { 'id': var['data_id'] }) }}" class="btn btn-danger">Confirm</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endif %}