{% extends "layout.html.twig" %}

{% block title %}
	Home
{% endblock %}

{% block content %}
	<div class="row">
		{% for game in games %}
			<div class="responsive-container col-lg-3 col-md-4 col-sm-6 col-xs-12">
				<div class="ratio-16-9"></div>
				<a class="img-container" href="{{ path('game', { 'id': game.id }) }}" title="{{game.title}}" data-toggle="tooltip" data-placement="bottom">
					<img src="https://upload.wikimedia.org/wikipedia/fr/7/77/League_of_Legends_logo.png" alt="{{game.title}}"/>
				</a>
			</div>
		{% endfor %}
	</div>
{% endblock %}

{% block script %}
	<script>
		$(document).ready(function(){
			$('[data-toggle="tooltip"]').tooltip();   
		});
	</script>
{% endblock %}