body { 
    padding-top: 50px; 
    /*background-color: red;*/
}

.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
}

.articleTitle:hover, .articleTitle:focus {
    text-decoration: none;
}

.adminTable {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*[class*="col-"] {
	background-color: #1EFF00;
	border: 4px solid black;
}*/

.ratio-1-1 {
    padding-top: 100%;
}

.ratio-4-3 {
    padding-top: 80%;
}

.ratio-16-9 {
    padding-top: 66%;
}


.img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    text-align:center; /* Align center inline elements */
    font: 0/0 a;
    margin: 20px;
    overflow: hidden;
}

[class*="background-game-"]
{
    background-position: center;
    background-size: 100% 100%;
    transition: background-size 0.4s ease;
}

[class*="background-game-"]:hover
{
    background-size: 110% 110%;
}

.img-container h1
{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.img-container:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.img-container img {
    vertical-align: middle;
    display: inline-block;
    max-width:80%;
    max-height: 80%;
}

.img-container-full img {
    vertical-align: middle;
    display: inline-block;
    min-width: 100%;
    min-height: 100%;
}

.img-container:hover .caption {
    height: 20%;
}

.img-container .caption{
    height: 0%;
    width: 100%;
    background-color:  rgb(0,200,255);
    color: white;
    position: absolute;
    transition: height 0.3s ease-out;
    bottom: 0;
    display:table;
}

.img-container .caption span{
    font-size: 0px;
    width:100%;
    display:table-cell;
    vertical-align:middle;
    transition: font-size 0.3s ease-out;
}

.img-container:hover .caption span{
    font-size: 25px;
}

.responsive-container
{
    position: relative;
}

.brand-header
{
    text-align:center; 
    background-image: url('http://euw.leagueoflegends.com/sites/default/files/upload/art/akali_vs_baron_4.jpg');
    background-position: center;
    background-size: 100%;
    padding: 20px;
    height: 180px;
    max-height: 30vw;
}

.brand-header img {
    vertical-align: middle;
    display: inline-block;
    height:100%;
}

.filter
{
    margin-top: 20px;
}

.filter div
{
    display: inline-block;
    margin: 5px;
}

.title
{
    font-weight: bold;
    font-size: 1.2em;
}

.test
{
    background-color: yellow;
}

.image_list
{
    margin-bottom: 20px;
}


/* Article modal */
.modal-article
{
    width:50%;
}

.modal-content
{
    border: none;
    border-radius: 0;
    border-top: solid rgb(0,200,255) 5px;
    padding: 10px;
}

.modal-content .close-modal
{
    background-color: rgb(0,200,255);
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-size: 25px;
    text-align: center;
    padding-top: 5px;
}

.modal-article-content
{
    margin-top: 40px;
}

.galery-image
{
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.galery-image .img-container
{
    margin: 0;
}

.galery-image img
{
    border: solid gray 1px;
}

.image_list img
{
    border: solid gray 1px;
}

.image_list img:hover
{
    border: solid gray 3px;
    margin: -1px;
}

.article
{
    border: solid gray 1px;
}

.img_hover_hidden
{
    display: none !important;
}