body { 
    padding-top: 50px; 
    /*background-color: red;*/
}

.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
}

.articleTitle:hover, .articleTitle:focus {
    text-decoration: none;
}

.adminTable {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*[class*="col-"] {
	background-color: #1EFF00;
	border: 4px solid black;
}*/

.ratio-1-1 {
    padding-top: 100%;
}

.ratio-4-3 {
    padding-top: 80%;
}

.ratio-16-9 {
    padding-top: 66%;
}


.img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    text-align:center; /* Align center inline elements */
    font: 0/0 a;
    margin: 20px;
    background-color: #C90000;
}

.img-container:hover {
    background-color: #00C6FF;
}

.img-container:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.img-container img {
    vertical-align: middle;
    display: inline-block;
    width:80%;
}

.responsive-container
{
    position: relative;
}